{% if resumen.iniciales %}
	<table class="tr">
	  <tr>
	    <th class="tr-ukxx" colspan="6">DECLARACION INICIAL</th>
	  </tr>
	</table>
	<table class="tg_d_resumen">
	  {% for declaracion_inicial in resumen.iniciales %}
	  <tr>
	    <th class="tg_d_resumen-0pky"><strong>{{declaracion_inicial.folio}}</strong></th>
	    <th class="tg_d_resumen-dvpl">{{declaracion_inicial.avance}}%</th>
	  </tr>
	  <tr>
	    <td class="tg_d_resumen-pcvp">
	        <p>
	           <strong>Usuario:</strong> {{declaracion_inicial.info_personal_fija.nombre_completo|default_if_none:"" }}<br>
	           <strong>RFC:</strong> {{declaracion_inicial.info_personal_fija.rfc|default_if_none:"" }}<br>
	           <strong>Puesto:</strong> {{declaracion_inicial.info_personal_fija.puesto|default_if_none:"" }}<br>
	           <strong>Estado:</strong> {{declaracion_inicial.info_personal_fija.usuario.is_active|yesno:"Activo,No activo"|default_if_none:"" }}<br>
	        </p>
	    </td>
	    <td class="tg_d_resumen-pcvp">
	        <p>
	           <strong>Estado:</strong> {{declaracion_inicial.cat_estatus.estatus_declaracion|default_if_none:"" }} <br>
	           <strong>Fecha inicio:</strong> {{declaracion_inicial.fecha_declaracion|date:"D d M Y"|default_if_none:"" }} <br>
	           <strong>Fecha de cierre:</strong> {{declaracion_inicial.fecha_recepcion|date:"D d M Y"|default_if_none:"" }} <br>
	        </p>
	    </td>
	  </tr>
	  {% endfor %}
	</table>
{% endif %}

	<br>

{% if resumen.conclusion %}
	<table class="tr">
	  <tr>
	    <th class="tr-ukxx" colspan="6">DECLARACION CONCLUSIÓN</th>
	  </tr>
	</table>
	<table class="tg_d_resumen">
	  {% for declaracion_conclusion in resumen.conclusion %}
	  <tr>
	    <th class="tg_d_resumen-0pky"><strong>{{declaracion_conclusion.folio}}</strong></th>
	    <th class="tg_d_resumen-dvpl">{{declaracion_conclusion.avance}}%</th>
	  </tr>
	  <tr>
	    <td class="tg_d_resumen-pcvp">
	        <p>
	           <strong>Usuario:</strong> {{declaracion_conclusion.info_personal_fija.nombre_completo|default_if_none:"" }}<br>
	           <strong>RFC:</strong> {{declaracion_conclusion.info_personal_fija.rfc|default_if_none:"" }}<br>
	           <strong>Puesto:</strong> {{declaracion_conclusion.info_personal_fija.puesto|default_if_none:"" }}<br>
	           <strong>Estado:</strong> {{declaracion_conclusion.info_personal_fija.usuario.is_active|yesno:"Activo,No activo"|default_if_none:"" }}<br>
	        </p>
	    </td>
	    <td class="tg_d_resumen-pcvp">
	        <p>
	           <strong>Estado:</strong> {{declaracion_conclusion.cat_estatus.estatus_declaracion|default_if_none:"" }} <br>
	           <strong>Fecha inicio:</strong> {{declaracion_conclusion.fecha_declaracion|date:"D d M Y"|default_if_none:"" }} <br>
	           <strong>Fecha de cierre:</strong> {{declaracion_conclusion.fecha_recepcion|date:"D d M Y"|default_if_none:"" }} <br>
	        </p>
	    </td>
	  </tr>
	  {% endfor %}
	</table>
{% endif %}